:root {
	--body-bg-color: #ffffff;
	--principal-bg-color: #03f1a6;
	--selected-bg-color: rgb(154, 72, 179);
	--selected-color: #ffffff;
	--font-color: #474646;
	--placeholder-font-color: #000000a9;
	--font-color-hover: #ffffff;
    --hover-color: #333232;
	--active-color: rgb(154, 72, 179);
	--input-border: #333232;
	--link-color: rgb(154, 72, 179);
	--principal-shadow: 0 0 1px rgba(0,0,0,0.11), 
						0 0 2px rgba(0,0,0,0.11), 
						0 0 4px rgba(0,0,0,0.11), 
						0 0 8px rgba(0,0,0,0.11), 
						0 0 16px rgba(0,0,0,0.11), 
						0 0 32px rgba(0,0,0,0.11),
						0 0 64px rgba(0,0,0,0.11);
}
.dark-mode:root {
	--body-bg-color: #242424;
	--principal-bg-color: #333232;
	--selected-bg-color: #1ae08e;
	--selected-color: #070707;
	--font-color: #ffffff;
	--placeholder-font-color: #fafafa7a;
	--font-color-hover: #ffffff;
    --hover-color: #1ae08e;
	--active-color: rgb(154, 72, 179);
	--input-border: #1ae08e;
	--link-color: #1ae08e;
	--principal-shadow: 0 0 1px rgba(0,0,0,0.11),
						0 0 2px rgba(0,0,0,0.11), 
						0 0 4px rgba(0,0,0,0.11), 
						0 0 8px rgba(0,0,0,0.11), 
						0 0 16px rgba(0,0,0,0.11); 
}
body {
	background: var(--body-bg-color);
    font-family: 'Montserrat', sans-serif;
}
.dark-theme {
	display: inline;
	position: absolute;
    vertical-align: top;
    right: 15px;
    top: 15px;
}
::selection {
    background: var(--selected-bg-color);
	color: var(--selected-color);
}
#dm-label {
	color: var(--font-color);
}
#switch:checked {
    background-color: var(--hover-color);
    accent-color: var(--hover-color);
}

.principal {
	position: absolute;
	text-align: center;
	color: var(--font-color);
	background-color: var(--principal-bg-color);
	width: 420px;
    height: 440px;
  	border: 5px solid;
	border-radius: 17px;
	border-color: var(--principal-bg-color);
  	padding: 60px 0 0 0;
    margin: 0 auto;
	top: 20%;
	right: 35%;
	left: 35%;
    transition: 0.7s all;
	box-shadow: var(--principal-shadow);
}
.principal:hover {
	border: solid 2px var(--principal-bg-color);
    transform: scale(1.05);
    box-shadow: 0 0 1px rgb(119, 197, 180), 
				0 0 1px rgb(119, 197, 180), 
				0 0 2px rgb(119, 197, 180), 
				0 0 4px rgb(119, 197, 180), 
				0 0 8px rgb(119, 197, 180), 
				0 0 16px rgb(119, 197, 180),
				0 0 32px rgb(119, 197, 180);
}
h1 {
    margin: 0 0 45px;
	font-weight: bold;
	color: var(--font-color);
    font-size: 2em;
}
.imc-label {
    position: relative;
    left: -10px;
}
#pesoLabel {
	position: relative;
    left: -5px;
}
#peso {
    position: relative;
    right: -5px;
}
input[type="text"], textarea {
	background-color : var(--body-bg-color);
}  
input[type="text"] {
	color: var(--font-color);
	border: 1px;
	border-radius: 3px;
    width: 150px;
    height: 25px;
    font-size: 13px;
    transition: 0.2s all;
}
input[type="text"]:hover {
    outline: none !important;
    border:1px solid var(--input-border);
    box-shadow: 0 0 10px #719ece;
}
input[type="text"]:focus {
    outline: none !important;
    border:1px solid var(--input-border);
    box-shadow: 0 0 10px #719ECE;
}
::placeholder {
	color: var(--placeholder-font-color);
	opacity: 1;
}
.start {
	background-color: var(--body-bg-color);
	color: var(--font-color);
	border: 1px;
	border-radius: 2px;
    padding: 2px 4px 2px 4px;
    margin: 0 0 20px 0;
    font-size: 0.8em;
    transition: 0.5s all;
    cursor: pointer;
}
.start:hover {
    background-color: var(--hover-color);
    transform: scale(1.2);
	color: var(--font-color-hover);
    box-shadow: 0 0 10px #719ECE;
}
.start:active {
	transform: scale(1.05);
    background-color: var(--active-color);
}
.resultado {
	text-align: left;
    display: inline;
    position: relative;
    padding-bottom: 10px;
    left: 70px;
    width: 70px;
}
.texto {
	margin-left: 5px;
}
#reset {
	background-color: var(--body-bg-color);
	color: var(--font-color);
	border: 1px;
	border-radius: 2px;
    padding: 2px 4px 2px 4px;
    margin: 15px 0 0 0;
    font-size: 0.8em;
	transition: 0.5s all;
    cursor: pointer;
}
#reset:hover {
    background-color: var(--hover-color);
    transform: scale(1.2);
	color: var(--font-color-hover);
    box-shadow: 0 0 10px #719ECE;
}
#reset:active {
	transform: scale(1.05);
    background-color: var(--active-color);
}
.fim {
	font-size: 10px;
	margin-top: 8px;
}
#link {
	text-decoration-color: var(--font-color);
	color: var(--font-color);
}
#link:hover {
    color: var(--link-color);
    text-decoration: underline;
}